@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");

$light_grey: #707070;
$light_blue: #00bcd4;

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Raleway", sans-serif;
  overflow: hidden;
  .search-bar {
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    form {
      display: flex;
      align-items: center;
      justify-content: center;
      input {
        width: 300px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid $light_grey;
        padding: 0 10px;
        font-size: 20px;
        color: $light_grey;
        &:focus {
          outline: none;
        }
      }
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        border: 1px solid black;
        cursor: pointer;
      }
    }
  }
  #container {
    display: flex;
    flex-direction: row;
    #stop-info {
      width: 20%;
      height: calc(100vh - 100px);
      border-right: 1px solid $light_grey;
      span {
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 2em;
        flex-direction: column;
      }
      @media (max-width: 1100px) {
        display: none;
      }
      .stopsList {
        height: calc(100vh - 220px);
        overflow-y: scroll;
        padding: 10px;
        div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          border-bottom: 1px solid black;
          &:hover {
            background-color: #00bcd4;
            color: white;
          }
        }
      }
    }
    #stops {
      display: grid;
      width: 80%;
      height: calc(100vh - 100px);
      overflow-y: auto;
      overflow-x: hidden;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      margin-left: 15px;
      margin-right: 30px;
      gap: 5px;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 40px;
        border-bottom: 1px solid $light_grey;
        text-align: center;
        &:hover {
          background-color: $light_blue;
          color: #fff;
        }
      }
      @media (max-width: 1100px) {
        width: 100%;
      }
    }
  }
}
